.reveal {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
  &_inner {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    &__code {
      padding: 1em;
      border-radius: 3px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      font-size: 1.1em;
      i {
        font-size: 1.1em;
        margin: 0 0 0 .5em;
        cursor: pointer;
      }
    }
    button {
      font-size: 1em;
      cursor: pointer;
      align-items: center;
      display: flex;
      background: $white;
      color: $theme-color;
      padding: .4em;
      border: none;
      outline: none;
    }
  }
  .show {
    vertical-align: middle;
    display: flex;
    align-items: center;
    i {
      margin: 0 .5em;
    }
  }
}

.slide-left {
  animation: slideLeft 1s forwards;
}

.slide-right {
  animation: slideRight 1s forwards;
}

.show {
  animation: show 1s forwards;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0px)
  }
  100% {
    transform: translateX(-100vw)
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0px)
  }
  100% {
    transform: translateX(100vw)
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}