@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './components/_card';
@import './components/_header';
@import './components/_notification';
@import './components/_song_queue';

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,body {
  background: $white;
}

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background: #FFF;
  input {
    border-top: none;
    border-right: none;
    border-bottom: 5px solid #EEE;
    border-left: none;
    width: 50vw;
    font-size: 2em;
    outline: none;
  }
  button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    i {
      color: $theme-color;
      font-size: 3em;
    }
  }
}