@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import './components/_card';
@import './components/_header';
@import './components/_notification';
@import './components/_song_queue';
@import './components/_splash';
@import './components/_animations';
@import './components/_loader';
@import './components/reveal';

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,body {
  background: $white;
}

a {
  text-decoration: none;
}