@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './components/_card';
@import './components/_header';
@import './components/_notification';

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,body {
  background: #FFFFFF;
}