<!DOCTYPE html>
<html lang='en'>

<head>
  <link rel='stylesheet' href='../../assets/main.css' />
  <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
  <link rel="apple-touch-icon" href="../../assets/images/icon@2x.png">
  <meta name="apple-mobile-web-app-title" content="House Party">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="translucent black">
  <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
  <title>House Party - Create</title>
</head>

<body>
  <header>
    <h2>Create your House Party</h2>
  </header>
  <div class='splash'>
    <div class='splash_header'>
      <h2>Create your own House Party</h2>
      <a href='../../'>
        <button>Join a house party <i class='material-icons'>arrow_forward</i></button>
      </a>
    </div>
    <div class='splash_inner'>
      <input type='text' placeholder='Name your house party' class='party-name' />
      <button><i class='material-icons create-party'>arrow_forward</i></button>
    </div>
    <div class='reveal'>
      <div class='reveal_inner'>
        <h2>Share this house party ID with your guests</h2>
        <div class='reveal_inner__code'>
          <h3 class='code'></h3>
          <i class="material-icons copy-code">content_copy</i>
        </div>
      </div>
    </div>
  </div>
  <div class='notification'></div>
  <script src='../../app.js'></script>
  <script>
    (function (document, navigator, standalone) {
      if ((standalone in navigator) && navigator[standalone]) {
        var curnode, location = document.location, stop = /^(a|html)$/i;
        document.addEventListener('click', function (e) {
          curnode = e.target;
          while (!(stop).test(curnode.nodeName)) {
            curnode = curnode.parentNode;
          }
          if ('href' in curnode && (curnode.href.indexOf('http') || ~curnode.href.indexOf(location.host))) {
            e.preventDefault();
            location.href = curnode.href;
          }
        }, false);
      }
    })(document, window.navigator, 'standalone');
  </script>
</body>

</html>