header {
  padding: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid darken($white, 3%);
  @media (min-width: 0) and (max-width: 600px) {
    & {
      flex-flow: column wrap;
      height: 30vh;
      justify-content: space-around;
    }
  }
  h2, .material-icons {
    color: $theme-color;
  }
  .material-icons {
    font-size: 1.6em;
    cursor: pointer;
    align-items: center;
    display: flex;
    background: $white;
    color: $theme-color;
    padding: .1em;
    border-radius: 3px;
    border: 1px solid darken($white, 10%);
    box-shadow: 0 5px 30px darken($white, 5%);
  }
  span {
    color: $theme-color;
    font-size: .55em;
    font-weight: 500;
    margin: 0 1em;
    text-align: center;
    &.currently-playing {
      font-size: .75em;
    }
  }
}

.sub-header {
  padding: 1.2em;
  display: flex;
  border-bottom: 1px solid darken($white, 3%);
  input {
    width: 100vw;
    border: none;
    background: none;
    outline: none;
    font-size: .8em;
    color: $theme-color;
    text-transform: capitalize;
    &::-webkit-input-placeholder {
      color: $theme-color;
    }
  }
  i {
    cursor: pointer;
    visibility: hidden;
  }
}