header {
  padding: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid darken($white, 3%);
  @media (min-width: 0) and (max-width: 600px) {
    & {
      flex-flow: column wrap;
      height: 30vh;
      justify-content: space-around;
    }
  }
  h2, .material-icons {
    color: $theme-color;
    font-size: 1.1em;
    margin: .3em auto;
  }
  button.view-list {
    display: flex;
    align-items: center;
    background: none;
    box-shadow: 0 5px 30px darken($white, 10%);
    color: $theme-color;
    padding: .7em;
    border-radius: 3px;
    border: 1px solid darken($white, 10%);
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: .6em;
    i {
      font-size: 1.2em;
      margin: 0 0 0 .4em;
    }
  }
  button.online-count {
    display: flex;
    align-items: center;
    background: none;
    color: $theme-color;
    padding: .7em;
    border-radius: 3px;
    border: 1px solid darken($white, 10%);
    outline: none;
    text-transform: uppercase;
    font-size: .6em;
    i {
      font-size: 1.2em;
      margin: 0 0 0 .4em;
    }
  }
  div {
    display: -webkit-inline-box;
  }
  img {
    width: 2em;
    height: auto;
    border-radius: 5px;
    @media (min-width: 0) and (max-width: 600px) {
      & {
        display: none;
      }
    }
  }
  span {
    color: $theme-color;
    font-size: .55em;
    font-weight: 500;
    margin: 0 1em;
    text-align: center;
    &.currently-playing {
      font-size: .75em;
    }
  }
}

.sub-header {
  padding: 1.2em;
  display: flex;
  border-bottom: 1px solid darken($white, 3%);
  input {
    width: 100vw;
    border: none;
    background: none;
    outline: none;
    font-size: .8em;
    color: $theme-color;
    text-transform: capitalize;
    &::-webkit-input-placeholder {
      color: $theme-color;
    }
  }
  i {
    cursor: pointer;
    visibility: hidden;
  }
}