.notification {
  background: darken($theme-color, 15%);
  width: 40em;
  min-height: 3em;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: $white;
  padding: 1em;
  font-size: .8em;
  transform: translateY(5em);
  transition: all ease-in-out .5s;
  @media (min-width: 0) and (max-width: 800px) {
    & {
      width: 100vw;
    }
  }
}