.reveal {
  display: none;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
  &_inner {
    @extend .reveal;
    justify-content: space-around;
    height: 40vh;
    h2, p {
      color: $theme-color;
    }
    h2 {
      font-size: 1.5em;
    }
    p {
      width: 50vw;
      text-align: center;
    }
    &__code {
      color: $theme-color;
      border-radius: 3px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      font-size: 1.1em;
      i {
        font-size: 1.1em;
        margin: 0 0 0 .5em;
        cursor: pointer;
      }
    }
  }
  .show {
    vertical-align: middle;
    display: flex;
    align-items: center;
    i {
      margin: 0 .5em;
    }
  }
}