.song-queue {
  background: $white;
  visibility: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
  &_header {
    padding: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $white;
    @media (min-width: 0) and (max-width: 600px) {
      & {
        flex-flow: column wrap;
        height: 30vh;
        justify-content: space-around;
      }
    }
    h2, .material-icons {
      color: $theme-color;
    }
    button.close-list {
      display: flex;
      align-items: center;
      background: none;
      box-shadow: 0 5px 30px darken($white, 10%);
      color: $theme-color;
      padding: .7em;
      border-radius: 3px;
      border: 1px solid darken($white, 10%);
      outline: none;
      cursor: pointer;
      text-transform: uppercase;
      font-size: .6em;
      i {
        font-size: 1.2em;
        margin: 0 0 0 .4em;
      }
    }
    span {
      color: $theme-color;
      font-size: .55em;
      font-weight: 500;
      margin: 0 1em;
      text-align: center;
      &.currently-playing {
        font-size: .75em;
      }
    }
  }
  &_list {
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 5px 20px lighten($theme-color, 2%);
    background: $theme-color;
    .card {
      background: $theme-color;
      border: none;
      .info > p {
        color: $white;
      }
    }
  }
}