<!DOCTYPE html>
<html lang='en'>
<head>
  <link rel="stylesheet" href="../../assets/main.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="apple-touch-icon" href="../../assets/images/icon@2x.png">
  <meta name="apple-mobile-web-app-title" content="House Party">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="translucent black">
  <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
  <title>House Party - Player</title>
</head>
<body>
  <div class='splash'>
    <div class='splash_header'>
      <h2>Start house party</h2>
      <a href='../create'>
        <button>Create your own party? <i class='material-icons'>arrow_forward</i></button>
      </a>
    </div>
    <div class='splash_inner'>
      <input type='text' placeholder='Start the party' class='party-id' />
      <button><i class='material-icons start-party'>arrow_forward</i></button>
    </div>
  </div>
  <header>
    <div>
      <img src='assets/images/icon@2x.png' />
      <h2></h2>
    </div>
    <button class='online-count'></button>
  </header>
  <div class='outer'>
    <audio></audio>
  </div>
  <div class='loading-container'>
    <div class='loading-container--loader'></div>
  </div>
  <div class='notification'></div>
  <script src='../../app.js'></script>
</body>
</html>